<footer>
    <div>
        <a href="/"><img class="logo" src='/img/logo.svg' alt="Brother's Beers"></a>
    </div>
    <div class="footer-enlaces">
        <p class="links">Enlaces</p>
        <ul>
            <li><a href="/Registrarse">Registro</a></li>
          <li><a href="/Carrito">Carrito</a></li>
            <li><a href="/Ayuda">Ayuda</a></li>
        </ul>
    </div>
    <div class="footer-legal">
        <p class="legal">Legal</p>
        <ul>
            <li><a href="#">Terminos y condiciones</a></li>
            <li><a href="#">Promociones</a></li>
        </ul>
    </div>
    <div class="footer-contacto">
        <p class="contacto">Contacto</p>
        <ul>
            <span>Dejanos tu email para mas informacion sobre nuevos productos y promociones.</span>
            
            <div class="input-container-email">
                <input class="busqueda" type="email" placeholder="Direccion Email"></input>
                <button type="submit" class="boton"> Hecho!</button>
            </div>
        </ul>
    </div>
</footer>
</body>
</html>