<!DOCTYPE html>
<html lang='en'>
<head>
 <meta charset="UTF-8">  
 <meta name="viewport" content="width=device-width, initial-scale=1">
 <title>Brother's Beers</title>
</head>
<body>
<header>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">  
        <link rel="stylesheet" href="/css/styles.css">
     <article class="arriba">
        <a href="/"><img class="logo" src='/img/logo.svg' alt="Brother's Beers"></a>
        <p><input class="busqueda" placeholder="Buscar bebidas en la cheveteca"><i class="fas fa-search"></i></p>
        <p class="center"><i class="fas fa-hand-holding-usd ">Compra en cuotas y sin tarjeta de credito</i></p>
     </article>
     <article class="abajo">
          <p>
            <a href="/Registrarse">Registrarse</a>&emsp;
            <a href="/MiCuenta">Mi Cuenta</a>&emsp;
         </p>
         <p style="font-weight: bold;font-family: 'Times New Roman', Times, serif;">
            Disfruta de nuestro extenso catalogo y excelentes precios&emsp;    
         </p>
     </article>
     <button class="burger-menu" id="menu">
            <i class="fas fa-bars" ></i>
        </button>
</header>