<%- include("./partials/header") %>
 <main class="Notfound">
    <i class="fas fa-kiss-wink-heart ayuda"></i>
    <h1><strong>404 La Ayuda esta en tu corazón</strong></h1>
</main>
<%- include("./partials/footer") %>