<!DOCTYPE html>
<html lang='en'>
<head>
 <meta charset="UTF-8">  
 <meta name="viewport" content="width=device-width, initial-scale=1">
 <title>Brother's Beers</title>
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">  
        <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
 <main class="Notfound">
    <i class="fas fa-kiss-wink-heart ayuda"></i>
    <h1><strong>404 La Ayuda esta en tu corazón</strong></h1>
    No se estan mandando los datos del req.body o estas poniendo una dirección que no existe
    <a href="/">Volver al home</a>
</main>
</body>
</html>