<%- include("./partials/header") %>
<Body>
    <h1>Historial de compras</h1>
    <p>Consulta la información de tus pedidos anteriores y en proceso</p>
<div class= "boxfondo">
    <div class= "boxmedio">
        <div class="boxinfo">
            <p>No.pedido:</p>
            <p>Fecha:</p>
            <p>Total:</p>
            <p>Usuario:</p>
            <p>Estatus:</p>
            <p>></p>
        </div>
        <p>¡Tu pedido ha sido entregado!</p>
        <div class="productocompra">
            <a href="/Producto/6"><img src='/img/daiquiri.png' alt='drink1' class="compraima"> </a>
             <div class="boxname">
              <p class="namehistorial">Bebida Daiquiri</p>
        </div>
    </div>
</div>
</Body>


<%- include("./partials/footer") %>