<%- include("./partials/header") %>
 <section class='carousel'>
    <img class='images' src='/img/banner.png' alt='carousel'>
 </section>
 <br><br>
 <!--Cervezas-->
 <h1><strong>Cervezas más Populares</strong></h1>
<section class="products">
    <div class="size">
      <a href="/Producto/0"><img class="imgs" src='/img/sol.jpg' alt='product1'></a>
      <article>
       <div class="align">
        <h3 class="price">$20</h3>
        <br>
        <p class="name">Cerveza Sol</p>
       </div>
      </article>
    </div>
    <div class="size">
        <a href="/Producto/1"><img class="imgs" src='/img/heineken.jpg' alt='product2'></a>
        <article>
         <div class="align">
          <h3 class="price">$20</h3>
          <br>
          <p class="name">Cerveza Heineken</p>
         </div>
        </article>
    </div>
    <div class="size">
        <a href="/Producto/3"><img class="imgs" src='/img/pacifico.jpg' alt='product3'></a>
        <article>
         <div class="align">
          <h3 class="price">$20</h3>
          <br>
          <p class="name">Cerveza Pacífico</p>
         </div>
        </article>
    </div>
    <div class="size">
        <a href="/Producto/2"><img class="imgs" src='/img/bocanegra.jpg' alt='product4'></a>
        <article>
         <div class="align">
          <h3 class="price">$20</h3>
          <br>
          <p class="name">Cerveza Bocanegra</p>
         </div>
        </article>
    </div>
</section>
<br><br>
<!--Bebidas-->
<h1><strong>Bebidas más Populares</strong></h1>
<section class="products">
    <div class="size">
        <a href="/Producto/6"><img class="imgs2" src='/img/daiquiri.png' alt='drink1'> </a>
        <article>
         <div class="align">
          <h3 class="price">$40</h3>
          <br>
          <p class="name">Bebida Daiquiri</p>
         </div>
        </article>
    </div>
    <div class="size">
        <a href="/Producto/4"><img class="imgs2" src='/img/margarita.jpg' alt='drink2'> </a>
        <article>
         <div class="align">
          <h3 class="price">$40</h3>
          <br>
          <p class="name">Bebida Margarita</p>
         </div>
        </article>
    </div>
    <div class="size">
        <a href="/Producto/5"><img class="imgs2" src='/img/martini.png' alt='drink3'> </a>
        <article>
         <div class="align">
          <h3 class="price">$40</h3>
          <br>
          <p class="name">Bebida Martini</p>
         </div>
        </article>
    </div>
    <div class="size">
        <a href="/Producto/7"><img class="imgs2" src='/img/shirley_temple.png' alt='drink4'> </a>
        <article>
         <div class="align">
          <h3 class="price">$40</h3>
          <br>
          <p class="name">Bebida shirley temple</p>
         </div>
        </article>
    </div>
</section>
<%- include("./partials/footer") %>
    