<%- include("./partials/header") %>
<div class="formulario-registro">
    <div class="main-container-registro">
     <div class="container-register fondo-registro">
        <form action="/MiCuenta/IniciarSesion" method="POST" enctype="multipart/form-data">
                <h1>Bienvenido de Vuelta</h1>
                <h2 style="padding-left: 39%;">Inicia Sesión</h2>
                <%if(locals.errores){%> 
                    <%for(i in errores){%>
                    <p class="errores"><%= errores[i].msg%></p>
                    <%}%>    
                <%}%>
                <label for="usr">Ingresa tu nombre de usuario</label>
                <input type="text" name="username" id="username" placeholder="Escribe tu nombre de usuario" 
                value="<%= locals.old ? old.username: null%>" required>
                    
                <label for="password">Password</label>
                <input type="password" placeholder="Escribe tu Password" name="password" id="password" required>
                <p class="olvidaste"><label>Recordame</label>
                <input  type="checkbox" id="recuerdame" name="recuerdame" checked></p>
                
                <button class="btn" type="submit" value="Submit" >Ingresar</button>
                <br>
                <a class="olvidaste" href="/Nimodo">¿Olvidaste tu contraseña?</a>
                <br>
                <a  href="/Registrarse">No tienes cuenta?, Regístrate!</a>
            </div> 
        </form>
    </div>
</div>
<%- include("./partials/footer") %>