<%- include("./partials/header") %>
<div class="formulario-registro">
    <div class="main-container-registro">
     <div class="container-register fondo-registro">
        <form action="/" method="POST">
                <h1>Registro de Producto</h1>
                <label for="usr">Nombre del producto</label>
                <input type="text" name="username" placeholder="Escribe el nombre del producto" required id="User">
                <label for="email">Email</label>
                <input type="text" placeholder="Escribe tu Email" name="email" required id="email">
                <label for="password">Password</label>
                <input type="password" placeholder="Escribe tu Password" name="pws" required id="password">
                <button type="submit" class="btn">Ingresar</button>
                <br>
                <a class="olvidaste" href="">¿Olvidaste tu contraseña?</a>
            </div> 
        </form>
    </div>
</div>
<%- include("./partials/footer") %>